body {
    background-color: rgb(76, 76, 236) !important;
}

.container {
    min-height: 100vh;
    background-color: rgb(76, 76, 236) !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz-card{
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px ;
}